<<<<<<< HEAD
header {
    background: black url(public/banner.jpg);
=======
body {
    font-weight: bolder;
    font-style: blue;
    #tool {
        h2 {
            text-align: center;
            font-size: 100px;
        }
    }
>>>>>>> b765922dac9bdd186df282170d3a7a8b9bbe0fb7
}